body{
  margin: 0px;
  padding:0px;
  font-family: Franklin,Arial,Helvetica,sans-serif;
}
.container{
  display: block;
  min-height: 100vh;
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: white;
  font-family: 'Playfair Display', serif;
}
.top_header{
  height:200px;
  background-color: white;
  object-fit: cover;
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-weight: 900;
}
.nav_bar{
  display: flex;
  justify-content: space-around;
  width:inherit;
  background-color: white;
  padding: 12px;

}
.navword{
  display: flex;
}
*{
  padding:0;
  box-sizing: border-box;
}
.timeline_cont{
  min-height: 100vh;
  width:inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 100px,0;
}
.timeline{
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul{
  list-style: none;
}
.timeline ul li{
  padding:20px;
  background-color: red;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline ul li:last-child{
  margin-bottom: 0;
}
.timeline_cont h1{
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline_cont p{
  font-size: 16px;
  line-height: 30px;

}
/*I followed this tutorial https://www.youtube.com/watch?v=zNccqv0g6Q4*/
/*@media only screen and (min-width:768px){*/
.timeline::before{ /*creating the line in the itmeline*/
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  left: 50%; /*making line center*/
  transform: translate(-50%);
  background-color: blue;
}
  .timeline ul li{
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }
  .timeline ul li:nth-child(odd){
    float:left;
    clear:right; /*to get rid of the content on the right of the box*/
    transform: translate(-30px);
  }
  .timeline ul li:nth-child(even){
    float:right;
    clear:left; /*get rid of content to the left of the box*/
    transform: translate(30px);
  }
  .timeline ul li::after{ /*creating the dot on the timeline*/
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: purple;
    border-radius: 50%; /*make circle*/
    top: 0;
  }
  .timeline ul li:nth-child(odd)::after{ /*moving the dot to the timeline*/
    transform: translate(50%, -50%);
    right: -30px; /*moves the dot to the line*/

  }
  .timeline ul li:nth-child(even)::after{ /*moving the dot to the timeline*/
    transform: translate(-50%, -50%);
    left: -30px; /*moves the dot to the line*/

  }
  .timeline ul li:hover::after{
    background-color: white;

  }
